{% extends "base.html" %}

{% block content %}
<h2>Managing outing for {{outing.boat}}, {{outing.team}}</h2>
<h5>{{outing.date | date:"l d. M"}}, {{outing.meetingTime}}</h5>

<form action="/outings/{{outing.id}}/" method="post">
    {% csrf_token %}
    <label><b>Available rowers:</b></label><br>
    {% for availability in available_rowers %}
    {% if availability.person.id in rowers %}
    <input type="checkbox" id="check{{availability.person.id}}" name="row_{{availability.person.id}}"
           value="{{availability.person.id}}" checked>
    {% else %}
    <input type="checkbox" id="check{{availability.person.id}}" name="row_{{availability.person.id}}"
           value="{{availability.person.id}}">
    {% endif %}
    <label for="check{{availability.person.id}}">{{availability.person.get_full_name}} ({{availability.person.username}})</label>
    {% if availability.comment.strip %}
    <i>{{availability.comment}}</i>
    {% endif %}
    <a href="/pastOutings/{{availability.person.username}}">View past outings</a> <br>
    {% endfor %}
    <label for="cox"><b>Choose a cox:</b></label><br>
    These people have expressed availability for coxing:
    {% for availability in available_coxes %}
    <br>
    {{availability.person.get_full_name}} ({{availability.person.username}})
    {% if availability.comment.strip %}
    <i>{{availability.comment}}</i>
    {% endif %}
    {% endfor %}
    <br>
    <select name="cox" id="cox">
        {% for availability in available_coxes %}
            {% if user.id in coxes %}
            <option value="{{availability.person.id}}">*{{availability.person.get_full_name}} ({{availability.person.username}})</option>
            {% else %}
            <option selected="selected" value="{{availability.person.id}}">*{{availability.person.get_full_name}} ({{availability.person.username}})</option>
        {% endif %}
        {% endfor %}
        {% for user in all_users %}
            {% if user.id in coxes %}
            <option selected="selected"   value="{{user.id}}">{{user.get_full_name}} ({{user.username}})</option>
            {% else %}
            <option value="{{user.id}}">{{user.get_full_name}} ({{user.username}})</option>
        {% endif %}
        {% endfor %}
    </select>
    <br><br>
    <label for="cox"><b>Choose a coach:</b></label><br>
    These people have expressed availability for coaching:
    {% for availability in available_coaches %}
    <br>
    {{availability.person.get_full_name}} ({{availability.person.username}})
    {% if availability.comment.strip %}
    <i>{{availability.comment}}</i>
    {% endif %}
    {% endfor %}
    <br>
    <select name="coach" id="coach">
        {% for availability in available_coaches %}
            {% if user.id in coaches %}
            <option value="{{availability.person.id}}">*{{availability.person.get_full_name}} ({{availability.person.username}})</option>
            {% else %}
            <option selected="selected" value="{{availability.person.id}}">*{{availability.person.get_full_name}} ({{availability.person.username}})</option>
        {% endif %}
        {% endfor %}
        {% for user in all_users %}
        {% if user.id in coaches %}
        <option selected="selected" value="{{user.id}}">{{user.get_full_name}} ({{user.username}})</option>
        {% else %}
        <option value="{{user.id}}">{{user.get_full_name}} ({{user.username}})</option>
        {% endif %}
        {% endfor %}
    </select>
    <br><br>
    <label for="cox"><b>Outing Status:</b></label><br>
    <select name="status" id="status">
        <option {% if outing.status == "P" %} selected="selected" {% endif %} value="P">Pending</option>
        <option {% if outing.status == "CF" %} selected="selected" {% endif %} value="CF">Confirmed</option>
        <option {% if outing.status == "CC" %} selected="selected" {% endif %} value="CC">Cancelled</option>
    </select>
    <br><br>
    <input type="submit" class="btn btn-primary" value="Update">
<button id="reminder-button" class="btn btn-warning">Send reminder emails</button>
<button id="delete-button" class="btn btn-danger">Delete outing</button>
</form>
<br>
<a href="/outings/" class="btn btn-secondary">Back</a>

<script>
    const button = document.getElementById('reminder-button');

    button.addEventListener('click', async _ => {
      try {
        const response = await fetch('/sendOutingReminderEmail/{{outing.id}}', {
          method: 'post',
          headers: {
            'X-CSRFToken': getCookie('csrftoken')
            },
          credentials: 'same-origin'
        });
        alert('Done!!');
      } catch(err) {
        //Todo: Why is this getting fired?
        alert('Done!');
      }
    });


    const deleteButton = document.getElementById('delete-button');

    deleteButton.addEventListener('click', async _ => {

    if (confirm('Are you sure?')) {
          try {
            const response = await fetch('/deleteOuting/{{outing.id}}', {
              method: 'post',
              headers: {
                'X-CSRFToken': getCookie('csrftoken')
                },
              credentials: 'same-origin'
            });
            window.location.replace("/outings/");
          } catch(err) {
            //Todo: Why is this getting fired?
            window.location.replace("/outings/");
          }
        }
    }

    );

</script>
{% endblock %}