{% extends "base.html" %}

{% block content %}
<h2>Sign up for outings as a {{typeName}}</h2>
<select name="form" onchange="location = this.value;">
 <option {% if type == "RW" %} selected="selected" {% endif %} value="RW">Rower</option>
 <option {% if type == "CX" %} selected="selected" {% endif %} value="CX">Cox</option>
 <option {% if type == "CC" %} selected="selected" {% endif %} value="CC">Coach</option>
</select>
<br>
<br>
<table>
    <tr>
        <th>Boat</th>
        <th>Team</th>
        <th>Date</th>
        <th>Meeting Time</th>
        <th>Set availability</th>
        <th>Add comment</th>
    </tr>
    {% for outing in outings %}
    <tr>
        <td>{{ outing.boat }}</td>
        <td>{{ outing.team }}</td>
        <td>{{ outing.date }}</td>
        <td>{{ outing.meetingTime }}</td>
        {% if outing.id in availability_ids %}
            <td><button id="btn{{outing.id}}" onclick="signoffOuting({{outing.id}})">Remove availability</button></td>
                {% for key, value in comments.items %}
                 {% if key == outing.id %}
                    <td><input type="text" id="text{{outing.id}}" value="{{value}}"></td>
                 {% endif %}
                {% endfor %}
        {% else %}
            <td><button id="btn{{outing.id}}" onclick="signupOuting({{outing.id}})">Put in availability</button></td>
            <td><input type="text" id="text{{outing.id}}"></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

<script>
    function signupOuting(id) {
        let dataForm = new FormData();
        let comment = document.getElementById("text"+id).value
        dataForm.append('outing',id)
        dataForm.append('type','{{type}}')
        dataForm.append('comment',comment?comment:"")
        var btn = document.getElementById('btn'+id)

        body = {
            method: 'post',
            headers: {
                'X-CSRFToken': getCookie('csrftoken')
                },
            body: dataForm,
            credentials: 'same-origin'
        }
        fetch('signup/', body).then(response => response.text()).then(data => (data=="Success!")?btn.disabled=true:alert(data))
    }

    function signoffOuting(id) {
        let dataForm = new FormData();
        dataForm.append('outing',id)
        dataForm.append('type','{{type}}')
        var btn = document.getElementById('btn'+id)

        body = {
            method: 'post',
            headers: {
                'X-CSRFToken': getCookie('csrftoken')
                },
            body: dataForm,
            credentials: 'same-origin'
        }
        fetch('signoff/', body).then(response => response.text()).then(data => (data=="Success!")?btn.disabled=true:alert(data))
    }
</script>
{% endblock %}

